[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
newspaper3k = "*"
beautifulsoup4 = "*"
cachetools = "*"

[dev-packages]

[requires]
python_version = "3.10"
